
.site-header {
    padding: 40px 0 0 55px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header__nav-wrapper{
    max-width: 830px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 165px 0 123px;
    backdrop-filter: blur(81.54845428466797px);
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 473px;
        height: 1px;
        background-color: #FFFFFF;
        left: -443px;
        opacity: 25%;
        @media (max-width:1375px){
            display: none;
        }
    }
}
.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    a{
        display: flex;
        gap: 13px;
        height: 100%;
        padding: 38px 0;
        position: relative;
        &::before {
            transition: all 0.3s;
            content: "";
            transition: all 0.5s;
            position: absolute;
            width: 100%;
            border-bottom: 3px solid #FFFFFF;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.5s;
        }
        &:hover::before{
            transform: scaleX(1);
        }
        h4{
            font-family: 'Barlow Condensed';
            font-weight: 700;
            font-size: 16px;
            line-height: 19.2px;
            letter-spacing: 2.700000047683716px;
            color: white;
        }
        p{
            font-family: 'Barlow Condensed';
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            letter-spacing: 2.700000047683716px;
            color: white;
        }
    }
}
.header__btn-open{
    display: none;
}

@media (max-width:935px){
    .space-body-b {
        background-image: url('../images/spece-body-bg.png');
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
    }
    .header__nav-wrapper {
        max-width: 450px;
        background: #FFFFFF0A;
        backdrop-filter: blur(81.54845428466797px);
        padding: 0 48px 0 46px;
    }
    .header__nav{
        a {
            h4{
                display: none;
            }
            p{
                font-size: 14px;
                line-height: 16.8px;
            }
        }
    }
}
@media (max-width:768px) {
    .site-header {
        padding: 0 0 0 39px;
        max-width: 768px;
    }
}
@media (max-width:570px) {  // Mobile start
    .space-body-b {
        width: 100%;
        background-image: url('../../images/space-body-mobile.png');
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
    }
    .site-header {
        padding: 24px 24px 0 24px;
    }
    .header__nav-wrapper {
        display: none;
    }
    .header__btn-open{
        display: inline-block;
        background: transparent;
        border: none;
    }
    .header__logo-link img{
        width: 40px;
        height: 40px;
    }
}

.moon-body {
    background-image: url("../images/moon-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
 .moon-section {
    margin: 0 auto;
}
// .moon {
// }
.moon-up-title {
    width: 582px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 891px 0 166px;
    gap: 28px;
 }
 .up-title-n > p {
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    letter-spacing: 4.724999904632568px;  
    opacity: 25%; 
    color: #FFFF; 
 }
.up-title-text > p {
    white-space: nowrap;
    font-size: 28px;
    font-weight: 400;
    line-height: 33.6px;
    letter-spacing: 4.724999904632568px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.moon-wrapper {
    margin: 40px 0 0 0;
    padding: 0 163px 0 181px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 206px;
}
.moon-content-wrapper {
    margin-top: 0;
    padding-top: 0;
    width: 445px;
    gap: 206px;
}
.cosmic-list {
    width: 285px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cosmic-list-item {
    a{
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        letter-spacing: 2.700000047683716px;
        color: #FFFFFF;
        display: flex;
        gap: 13px;
        height: 100%;
        padding: 15px 0;
        position: relative;
        &::before {
            transition: all 0.3s;
            content: "";
            transition: all 0.5s;
            position: absolute;
            width: 100%;
            border-bottom: 3px solid #FFFFFF;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.5s;
        }
        &:hover::before{
            transform: scaleX(1);
        }
    }
}
.moon-title {
    width: 333px;
    height: 115px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 100px;
    font-weight: 400;
    line-height: 114.6px;
    color: #FFFFFF;
    font-family: 'Bellefair';
}
.moon-text {
    width: 356px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #D0D6F9;    
}
.information-wrapper {
    width: 360px;
    height: 89px;
    margin-top: 30px;
    display: flex;
    border: 2px solid #383B4B;
    border-right: none;
    border-bottom: none;
    border-left: none;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 79px;
}
.dictance-wrap > p{
    padding-bottom: 12px;
    margin-top: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 2.362499952316284px;
    color: #D0D6F9; 
}
.dictance-wrap > strong {
    font-size: 28px;
    font-weight: 400;
    line-height: 32.09px;
    color: #FFFFFF;
}
.time-wrap > p {
    padding-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 2.362499952316284px;
    text-transform: uppercase;
    color: #D0D6F9; 
}
.time-wrap > strong {
    font-size: 28px;
    font-weight: 400;
    line-height: 32.09px;
    color: #FFFFFF;
}